n8n-backups/gpKyvnY8cagWBdBf-daily-whatsapp-alerts.json
{
  "id": "gpKyvnY8cagWBdBf",
  "name": "Avuka — Daily WhatsApp Alerts (14-Day Inspection Reminders)",
  "description": "כל בוקר ב-8:00 — שאילתה ל-Base44 לביקורות ב-14 יום הקרובים → WhatsApp דרך Twilio ל-+972504291750",
  "active": false,
  "createdAt": "2026-06-24T06:07:23.805Z",
  "updatedAt": "2026-06-24T08:56:32.985Z",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "connections": {
    "Every Morning 8:00 AM": { "main": [[{ "node": "Build Date Range", "type": "main", "index": 0 }]] },
    "Build Date Range": { "main": [[{ "node": "Get Upcoming Inspections (Base44)", "type": "main", "index": 0 }]] },
    "Any Inspections Due?": { "main": [[{ "node": "Format WhatsApp Message", "type": "main", "index": 0 }], [{ "node": "No Upcoming Inspections", "type": "main", "index": 0 }]] },
    "Format WhatsApp Message": { "main": [[{ "node": "Send WhatsApp Alert", "type": "main", "index": 0 }]] },
    "Get Upcoming Inspections (Base44)": { "main": [[{ "node": "Filter Next 14 Days", "type": "main", "index": 0 }]] },
    "Filter Next 14 Days": { "main": [[{ "node": "Any Inspections Due?", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    {
      "id": "c2400e72-95be-4b8a-9a07-c9ab738f75ea",
      "name": "Every Morning 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 96],
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } }
    },
    {
      "id": "9ea8f139-3a24-4b25-bebd-ad0faf6094d9",
      "name": "Build Date Range",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 96],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            { "id": "1", "name": "today", "value": "={{ $now.toFormat(\"yyyy-MM-dd\") }}", "type": "string" },
            { "id": "2", "name": "in14days", "value": "={{ $now.plus(14, \"days\").toFormat(\"yyyy-MM-dd\") }}", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "03707e58-7af2-492b-90ed-6af970a4ee5c",
      "name": "Get Upcoming Inspections (Base44)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [448, 96],
      "parameters": {
        "method": "GET",
        "url": "https://avuka.base44.app/api/apps/6980462d4df5bc1deda167e6/entities/FireInspection?limit=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      }
    },
    {
      "id": "b569cd19-e997-47ac-be24-275086ea5fab",
      "name": "Any Inspections Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [672, 96],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $input.all().length }}", "operator": { "type": "number", "operation": "gt" }, "rightValue": 0 }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "37e11fcc-0986-4005-a377-d6d760dbe0a8",
      "name": "Format WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst today = new Date().toLocaleDateString('he-IL');\n\nlet lines = ['*🔥 ביקורות כיבוי אש קרובות*', `תאריך: ${today}`, ''];\n\nfor (const item of items) {\n  const d = item.json;\n  const date = d.next_inspection_date || 'לא ידוע';\n  const name = d.customer_name || d.customer_id || 'לא ידוע';\n  const site = d.site_name ? ` — ${d.site_name}` : '';\n  const daysLeft = d.next_inspection_date\n    ? Math.round((new Date(d.next_inspection_date) - new Date()) / 86400000)\n    : null;\n  const daysStr = daysLeft !== null ? ` (${daysLeft} ימים)` : '';\n  lines.push(`⏳ ${name}${site} | ${date}${daysStr}`);\n}\n\nlines.push('');\nlines.push(`סה\"כ: ${items.length} ביקורות`);\n\nreturn [{ json: { message: lines.join('\\n'), count: items.length } }];"
      }
    },
    {
      "id": "2e23cfcb-720b-42fb-9410-6d75a9770fba",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 0],
      "parameters": {
        "operation": "send",
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+972504291750",
        "message": "={{ $json.message }}"
      }
    },
    {
      "id": "d37a9570-a529-4feb-94e5-33e307892a03",
      "name": "No Upcoming Inspections",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [896, 192],
      "parameters": {}
    },
    {
      "id": "a3a567c1-c174-4edd-ae39-cadc0bee42ec",
      "name": "Sticky Note ad349bd4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, 256],
      "parameters": {
        "content": "## ⚙️ Setup Required\n\n**Twilio WhatsApp From number:**\nChange `whatsapp:+14155238886` to your approved Twilio WhatsApp sender number.\n\nTo use Twilio sandbox: join the sandbox first at console.twilio.com\n\n**Base44 API Key:**\nSame credential as Workflow 1.",
        "color": 3
      }
    },
    {
      "id": "3e189a06-8179-4c3b-ac78-2d418be6ba20",
      "name": "Filter Next 14 Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 96],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const today = new Date();\ntoday.setHours(0,0,0,0);\nconst in14 = new Date(today);\nin14.setDate(in14.getDate() + 14);\n\nconst filtered = $input.all().filter(item => {\n  const d = item.json.next_inspection_date;\n  if (!d) return false;\n  const dt = new Date(d);\n  dt.setHours(0,0,0,0);\n  return dt >= today && dt <= in14;\n});\n\nreturn filtered;"
      }
    }
  ]
}
