n8n-backups/tpZoUxro6mUPtCOw-cert-submission-email-secretary.json
{
  "id": "tpZoUxro6mUPtCOw",
  "name": "Cert Submission → Email Secretary",
  "description": "טכנאי מגיש אישור -> webhook -> הפקת PDF בענן -> מייל למזכירה עם הקובץ (או התראה ללא קובץ אם הענן עוד לא חי).",
  "active": false,
  "createdAt": "2026-05-29T20:08:53.634Z",
  "updatedAt": "2026-05-29T20:08:53.634Z",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "connections": {
    "Cert Submitted": { "main": [[{ "node": "Build Email Fields", "type": "main", "index": 0 }]] },
    "Build Email Fields": { "main": [[{ "node": "Generate PDF", "type": "main", "index": 0 }]] },
    "Generate PDF": { "main": [[{ "node": "PDF Ready?", "type": "main", "index": 0 }]] },
    "PDF Ready?": { "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }], [{ "node": "Email Secretary (notify)", "type": "main", "index": 0 }]] },
    "Download PDF": { "main": [[{ "node": "Email Secretary (PDF)", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    {
      "id": "17464213-dd3f-4dde-aba2-9548b01114dd",
      "name": "Cert Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 96],
      "parameters": { "httpMethod": "POST", "path": "cert-submitted", "responseMode": "onReceived", "options": {} },
      "webhookId": "c32fab41-e303-4c52-b98f-bfc735231616"
    },
    {
      "id": "a82cb1eb-59b0-4d32-a9d4-8d9e11b6dea7",
      "name": "Build Email Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 96],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst forms = {1:'גלגלונים',2:'מטפים',3:'חשמל',4:'גילוי אש',5:'כיבוי בלוחות',6:'כריזה',7:'ספרינקלרים'};\nconst fn = forms[b.form_type] || ('טופס ' + (b.form_type||''));\nconst site = b.business_name || 'ללא שם';\nconst tech = b.technician_name || '';\nconst subject = 'אישור חדש להפקה: ' + site + ' — ' + fn;\nconst hdr = '<div dir=\"rtl\" style=\"font-family:Arial,sans-serif\"><h2>אישור חדש הוגש במערכת</h2><p><b>אתר:</b> ' + site + '<br><b>טופס:</b> ' + fn + '<br><b>טכנאי:</b> ' + tech + '</p>';\nconst bodyHtml = hdr + '<p>מצורף קובץ ה-PDF של האישור. ניתן להעביר אותו ללקוח.</p></div>';\nconst bodyNoPdf = hdr + '<p>הפקת ה-PDF בענן עדיין לא זמינה — ניתן להפיק ולהוריד את האישור ממסך הארכיון.</p></div>';\nreturn [{json:{ certificate_id: b.certificate_id, key: b.key, business_name: site, technician_name: tech, form_name: fn, subject, bodyHtml, bodyNoPdf }}];"
      }
    },
    {
      "id": "622a0c8e-0f4b-4ec3-b0dc-150f10c81117",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [448, 96],
      "parameters": {
        "method": "POST",
        "url": "https://pmxalansjajyjhjhkvla.supabase.co/functions/v1/generate-pdf",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ $json.key }}" },
            { "name": "Authorization", "value": "={{ \"Bearer \" + $json.key }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": { "parameters": [{ "name": "certificate_id", "value": "={{ $json.certificate_id }}" }] },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "executeOnce": true
    },
    {
      "id": "cc8cdf3a-75d7-488d-a44f-b07b20148723",
      "name": "PDF Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [672, 96],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.ok }}", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a38b2d8a-1c13-4241-92de-20c0d958b86f",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [896, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } } }
      }
    },
    {
      "id": "3c64b347-d70f-4376-8225-cecd3c54bdbd",
      "name": "Email Secretary (PDF)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1120, 0],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "Bar@avuka.co.il",
        "subject": "={{ $('Build Email Fields').item.json.subject }}",
        "bodyContent": "={{ $('Build Email Fields').item.json.bodyHtml }}",
        "additionalFields": {
          "bodyContentType": "html",
          "attachments": { "attachments": [{ "binaryPropertyName": "data" }] }
        }
      },
      "webhookId": "60f8e8ea-791a-43dd-8b1e-ddae16a4210d"
    },
    {
      "id": "69be542b-1be9-425f-88d7-f1debea1f2bf",
      "name": "Email Secretary (notify)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [896, 192],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "Bar@avuka.co.il",
        "subject": "={{ $('Build Email Fields').item.json.subject }}",
        "bodyContent": "={{ $('Build Email Fields').item.json.bodyNoPdf }}",
        "additionalFields": { "bodyContentType": "html" }
      },
      "webhookId": "69d1ceb9-b6a7-42b8-a31b-a6b8458f18d3"
    }
  ]
}
